{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="card-title mb-4 text-center">Reset Password</h2>

                        {{ form_start(form) }}

                        <div class="mb-3">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first, {
                                'attr': {
                                    'class': 'form-control ' ~ (form.password.first.vars.errors|length ? 'is-invalid' : '')
                                }
                            }) }}

                            {% for error in form.password.first.vars.errors %}
                                <div class="invalid-feedback">
                                    {{ error.message }}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second, {
                                'attr': {
                                    'class': 'form-control ' ~ (form.password.second.vars.errors|length ? 'is-invalid' : '')
                                }
                            }) }}

                            {% for error in form.password.second.vars.errors %}
                                <div class="invalid-feedback">
                                    {{ error.message }}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-primary btn-block">
                                Update password
                            </button>
                        </div>

                        {{ form_end(form) }}

                        <div class="text-center mt-4">
                            <p class="mb-2 small text-muted">
                                <a href="{{ path('app_login') }}"
                                   class="link-secondary text-decoration-none d-inline-flex align-items-center gap-1">
                                    <i class="bi bi-box-arrow-in-left"></i>
                                    Back to login
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}