{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {
        attr: {
            class: 'form-control' ~ (form.name.vars.errors|length ? ' is-invalid' : '')
        }
    }) }}
    {% for error in form.name.vars.errors %}
        <div class="invalid-feedback">
            {{ error.message }}
        </div>
    {% endfor %}
</div>

<div class="mb-3">
    {{ form_label(form.slug) }}
    {{ form_widget(form.slug, {
        attr: {
            class: 'form-control' ~ (form.slug.vars.errors|length ? ' is-invalid' : '')
        }
    }) }}
    {% for error in form.slug.vars.errors %}
        <div class="invalid-feedback">
            {{ error.message }}
        </div>
    {% endfor %}
</div>

<div class="mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {
        attr: {
            class: 'form-control' ~ (form.description.vars.errors|length ? ' is-invalid' : '')
        }
    }) }}
    {% for error in form.description.vars.errors %}
        <div class="invalid-feedback">
            {{ error.message }}
        </div>
    {% endfor %}
</div>

<div class="form-check mb-3">
    {{ form_widget(form.isActive, {
        attr: {
            class: 'form-check-input' ~ (form.isActive.vars.errors|length ? ' is-invalid' : '')
        }
    }) }}
    {{ form_label(form.isActive, null, { label_attr: { class: 'form-check-label' } }) }}

    {% for error in form.isActive.vars.errors %}
        <div class="invalid-feedback d-block">
            {{ error.message }}
        </div>
    {% endfor %}
</div>

<button class="btn btn-primary mt-2">
    {{ button_label|default('Save') }}
</button>

{{ form_end(form) }}